.container {
  width: 500px;
  height: 100%;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.youtube {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;

  text-shadow: 0px 0px 3px #000000, 0px 0px 3px black, 0px 0px 5px black;
}
