* {
  margin: 0;
}

.screen {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  position: relative;
}

.comment {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: black 0 0 5px;

  /* 改行しない */
  white-space: nowrap;

  /* ポジションを固定する */
  position: absolute;

  /* 文字の行間を調節する */
  line-height: 1;

  animation-name: lane0;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}


/* @keyframesは、アニメーション開始から終了するまでのアニメーションを指定する */
@keyframes lane0 {
  0% {
    transform: translate(100vw);
  }
  100% {
    transform: translate(-150vw);
  }
}
