<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Screen</title>
    <link rel="stylesheet" href="screen.css" />
    <link rel="stylesheet" href="niconico.css" />
    <link rel="stylesheet" href="youtube.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="screen.js" defer></script>
  </head>
  <body>
    <div class="screen"></div>
  </body>
</html>
