:root {
  --header-height: 200px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
}

.content {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: white;

  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  /* 固定して表示する */
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  margin-top: calc(var(--header-height) + 50px);
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 140px;
  height: 140px;
}

input[type="radio"]:checked + label::before {
  border: 3px solid #000;
  box-sizing: border-box;
}
input[type="radio"] {
  display: none;
}
