:root {
  --header-height: 200px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
}

.content {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: white;

  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  /* 固定して表示する */
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  margin-top: calc(var(--header-height) + 50px);
}

/* ラジオボタン */
.radio {
  display: none;
}

.radio + label:after {
  content: "";
  display: inline-block;
  background-size: contain;
  width: 140px;
  height: 140px;
}

.radio:checked + label::after {
  border: thick solid #32a1ce;
  box-sizing: border-box;
}

.radio[value="niconico"] + label:after {
  background-image: url(../img/niconico.png);
  border-radius: 100%;
}

.radio[value="youtube"] + label:after {
  background-image: url(../img/youtube.png);
  border-radius: 100%;
}

p {
  font-size: 20px;
}

.slider {
  width: 60%;
}
