/* 全体に適用 */
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* スクロールバーを非表示にする */
body::-webkit-scrollbar {
  display: none;
}

/* コメントを表示するスクリーン */
.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.common {
  font-weight: bolder;
  text-shadow: black 0 0 5px;

  /* 文字の行間を調節する */
  line-height: 1.5;
}
