* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* スクロールバーを非表示にする */
body::-webkit-scrollbar {
  display: none;
}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.common {
  font-weight: bolder;
  text-shadow: black 0 0 5px;

  /* 文字の行間を調節する */
  line-height: 1.5;
}

.niconico {
  /* 改行しない */
  white-space: nowrap;

  /* ポジションを固定する */
  position: absolute;

  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

p::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
}

/* ニコニコ風のレーン */
@keyframes lane0 {
  0% {
    transform: translate(100vw, 0px);
  }
  100% {
    transform: translate(-500vw, 0px);
  }
}

@keyframes lane1 {
  0% {
    transform: translate(100vw, 70px);
  }
  100% {
    transform: translate(-500vw, 70px);
  }
}

@keyframes lane2 {
  0% {
    transform: translate(100vw, 140px);
  }
  100% {
    transform: translate(-500vw, 140px);
  }
}

@keyframes lane3 {
  0% {
    transform: translate(100vw, 210px);
  }
  100% {
    transform: translate(-500vw, 210px);
  }
}

@keyframes lane4 {
  0% {
    transform: translate(100vw, 280px);
  }
  100% {
    transform: translate(-500vw, 280px);
  }
}

@keyframes lane5 {
  0% {
    transform: translate(100vw, 350px);
  }
  100% {
    transform: translate(-500vw, 350px);
  }
}
@keyframes lane6 {
  0% {
    transform: translate(100vw, 420px);
  }
  100% {
    transform: translate(-500vw, 420px);
  }
}
@keyframes lane7 {
  0% {
    transform: translate(100vw, 490px);
  }
  100% {
    transform: translate(-500vw, 490px);
  }
}
@keyframes lane8 {
  0% {
    transform: translate(100vw, 560px);
  }
  100% {
    transform: translate(-500vw, 560px);
  }
}
@keyframes lane9 {
  0% {
    transform: translate(100vw, 630px);
  }
  100% {
    transform: translate(-500vw, 630px);
  }
}
