/* 全体に適用 */
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* スクロールバーを非表示にする */
body::-webkit-scrollbar {
  display: none;
}

/* コメントを表示するスクリーン */
.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.common {
}

.twitterIcon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/twitter.png);
}

.youtubeIcon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/youtube.png);
}
