.container {
  width: 500px;
  height: 100%;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.youtube {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 5px;

  text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0px #000000, -2px 1px #000000,
    -2px 2px #000000, -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000,
    -1px 2px #000000, 0px -2px #000000, 0px -1px #000000, 0px 0px #000000, 0px 1px #000000,
    0px 2px #000000, 1px -2px #000000, 1px -1px #000000, 1px 0px #000000, 1px 1px #000000,
    1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000, 2px 1px #000000,
    2px 2px #000000;
}
