<div class="container">
  <main>
    <p class="h3">配信フォーマットの選択</p>
    <div class="container-fluid d-flex justify-content-center">
      <input
        type="radio"
        class="radio"
        id="niconico"
        name="format"
        value="niconico"
        checked
      /><label for="niconico">ニコニコ</label>
      <input type="radio" class="radio" id="youtube" name="format" value="youtube" /><label
        for="youtube"
        >Youtube</label
      >
    </div>

    <label for="fontSize" class="h3 form-label mt-5">フォントサイズ</label>
    <div class="container-fluid d-flex justify-content-evenly">
      <p class="h5">小</p>
      <input class="form-range" type="range" id="fontSize" value="50" min="30" max="70" step="1" />
      <p class="h5">大</p>
    </div>
  </main>
</div>
