.outer {
  background-color: skyblue;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}
.outer div {
  background-color: pink;
  width: 50px;
  height: 200px;
}
.outer div:nth-child(even) {
  background-color: gray;
  width: 50px;
  height: 200px;
}
